<div class="container">


  <h1>Login</h1>
      <%= bootstrap_form_tag url: '/sessions' do |f| %>
      <%= f.email_field :email, placeholder: "Enter the email you registered with" %>
      <%= f.password_field :password, placeholder: "Enter your password" %>
      <%= f.submit "Log in", class:"btn btn-success" %>
      <% end %>
      <br>
      <br>
  <button type="button" class="btn btn-default">
  <%= link_to "Haven't Registered Yet? Sign Up Here!", new_user_path %></button>
  <br>
  <br>
  <button type="button" class="btn btn-default">
  <%= link_to 'Back to Welcome Page', root_path %></button>
<br>
<br>
<img src="http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr05/15/17/enhanced-buzz-8157-1381873037-33.jpg"><h4>Make Friends and Create Trends!</h4>
</div>

