<!-- saris GET    /saris(.:format)          saris#index -->

<div class="container">
  <div class="jumbotron">
    <h2>Hi <%= current_user.name %>! Take a look below to see what's trending in Sari fashions.</h2><h3><center>Have an influence on what trends... <%= link_to 'Upload Your Sari Gallery!', new_sari_path, class: "btn btn-success" %></center></h3><br>
    </div>
    <center>
    <img src="https://mjbridal.files.wordpress.com/2012/07/screencaptures.jpg", width = "900" height= "300"><br>
    <h4><%= link_to 'Back To Your Profile Page', user_path(current_user), class: "btn btn-success" %></h4></center>
  <div>
    <center>
      <h3>Is the Sari staging a comeback with Indian women? <br><br> We think so and we want You to have an active influence on the Sari styles that trend in the marketplace.</h3><br>
      <h4>Like, Comment and Connect... <%= link_to "Coming Soon" %></h4>
      <h2>Make Friends and Create Trends!</h2>
      <h3>Have an influence on what's trending... <%= link_to 'Upload Your Sari Gallery!', new_sari_path, class: "btn btn-success" %></h3>
    </center>
  </div>
<% @saris.each do |sari| %>
<div class="col-md-4"><br><br>
  Posted by: <%= User.find_by_id(sari.user_id).name %> <br>
  <img src='<%= sari.image %>' width="200" height="200"><br>
  <%= sari.story %> <br><br>
</div>
<% end %>
</div>
<div class=" container footer"><center>
  <%= link_to 'Go to Your Profile Page', user_path(current_user), class: "btn btn-success" %>
  <%= link_to 'Logout', session_path(current_user), method: :delete, class: "btn btn-success" %></center>
</div>
