
<h4><%= link_to 'Go to Your Profile Page', user_path(current_user) %></h4>
<h2>Hi <%= current_user.name %>! Browse to see what's trending in Sari fashions!</h2>
<h3><center> Or change what's trending... <%= link_to 'Upload Your Sari Gallery!', new_sari_path %></h3>
<h2>Like, Comment and Connect with other users!</h2>
<br>
<% @saris.each do |sari| %>
<br>
<br>
<br>
 Posted by: <%= User.find_by_id(sari.user_id).name %> <br>
 <img src='<%= sari.image %>' width="200" height="200"><br>
 <%= sari.story %> <br>
 <br>
 <% end %>
<br>
<br>
<br>
<%= link_to 'Go to Your Profile Page', user_path(current_user) %>
<br>
<br>
<%= link_to 'Logout', session_path(current_user), method: :delete %>
<br>
<br>

<img src="http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr05/15/17/enhanced-buzz-8157-1381873037-33.jpg">
