
<h4><%= link_to 'Go to Your Profile Page', user_path(current_user) %></h4>
<h2>Hi <%= current_user.name %>! Take a Look Around, Comment, and Connect!</h2>
<br>
<br>
<% @saris.each do |sari| %>
<br>
<br>
<br>
 <%= sari.story %> <br>
 <img src='<%= sari.image %>' width="200" height="200">
 Posted by: <%= User.find_by_id(sari.user_id).name %> <br>
 <br>
 <% end %>
<br>
<br>
<br>
<%= link_to 'Go to Your Profile Page', user_path(current_user) %>
<br>
<br>
<%= link_to 'Logout', session_path(current_user), method: :delete %>


