<h2>Hello! Take a Look Around, Comment, and Connect!</h2>
<br>
<h4><%= link_to 'Back to Your Profile Page', user_path(current_user) %></h4>
<br>
<br>
<% @saris.each do |sari| %>
<br>
<br>
<br>
 Created by: <%= User.find_by_id(sari.user_id).name %>
 <br>
 <img src='<%= sari.image %>' width="200" height="200">
 <br>
 Story: <%= sari.story %>
 <% end %>
<br>
<br>
<br>
<%= link_to 'Back to Your Profile Page', user_path(current_user) %>
<br>
<br>
<%= link_to 'Logout', session_path(current_user), method: :delete %>


