<!-- saris GET    /saris(.:format)          saris#index -->

<div class="container">
  <div class="jumbotron">
    <h2>Hi <%= current_user.name %>! Browse to see what's trending in Sari fashions!</h2>
    <h4><%= link_to 'Go to Your Profile Page', user_path(current_user), class: "btn btn-success" %></h4>
  </div>
  <div>
    <center>
      <h4>Is the Sari staging a comeback with Indian women? We think so and we want You to have an active influence on the Sari styles that trend in the marketplace.</h4><br>
      <h3>Have an influence on what's trending... <%= link_to 'Upload Your Sari Gallery!', new_sari_path, class: "btn btn-success" %></h3>
      <h3>Like, Comment and Connect with other users!</h3>
      <h2>Make Friends and Create Trends!</h2>
    </center>
  </div>
<% @saris.each do |sari| %>
<div class="col-md-4"><br><br>
  Posted by: <%= User.find_by_id(sari.user_id).name %> <br>
  <img src='<%= sari.image %>' width="200" height="200"><br>
  <%= sari.story %> <br><br>
</div>
<% end %>
</div>
<div>
  <%= link_to 'Go to Your Profile Page', user_path(current_user), class: "btn btn-success" %>
  <%= link_to 'Logout', session_path(current_user), method: :delete, class: "btn btn-success" %>
</div>
