<h1>Upload A New Sari</h1>
<%= form_for @sari do |f| %>
<% if @sari.errors.any? %>
  <div class="error_messages">
    <h2>Upload is invalid</h2>
    <ul>
      <% for message in @sari.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :image %>
  <%= f.text_field :image %>
</div>
<div class="field">
  <%= f.label :story %>
  <%= f.text_field :story %>
</div>
<div class="field">
  <%= f.label :owner %>
  <%= f.text_field :owner %>
</div>
<div class="actions"><%= f.submit %></div>
<% end %>
<br>
<br>
<%= link_to 'Back to Your Profile Page', user_path(current_user) %>






