<h1>Create Sari Gallery!</h1>
<%= form_for @sari do |f| %>
<% if @sari.errors.any? %>
  <div class="error_messages">
    <h2>Upload is invalid</h2>
    <ul>
      <% for message in @sari.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :image %>
  <%= f.text_field :image %>
</div>
<div class="field">
  <%= f.label :story %>
  <%= f.text_field :story %>
</div>
<div class="field">
  <%= f.label :owner %>
  <%= f.text_field :owner %>
</div>
<br>
<div class="actions"><%= f.submit %></div>
<% end %>
<br>
<%= link_to 'Cancel', user_path(current_user) %>
<br>
<br>
<br><%= link_to 'See What Others Are Posting', saris_path %>
<br>
<br>
<img src="http://ak-hdl.buzzfed.com/static/2013-10/enhanced/webdr05/15/17/enhanced-buzz-8157-1381873037-33.jpg">





