
Welcome  <%= @user.name %>
<ul>
  <li>  <%= link_to 'Create New Gallery', new_sari_path %></li>
  <li>  <%= link_to 'Edit Your Gallery', edit_sari_path %></li>
  <li> <%= link_to 'View Your Galllery', sari_path %> </li>
  <li> <%= link_to 'View Entire Sari Sakhi Gallery', saris_path %> </li>

</ul>

<%= link_to 'Logout', session_path, method: :delete %>
