
<h2>Welcome Back <%= @user.name %>!</h2>
<ul>
  <li><%= link_to 'Create New Sari Gallery', new_sari_path %></li><br>
  <li> <%= link_to 'View the Entire Sari Sakhi Gallery', saris_path %> </li>
</ul>
<br>
<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quo doloremque, nihil unde sapiente at amet, dolorem inventore quaerat repudiandae deleniti. Nam voluptates fugiat quae quam sunt praesentium nihil voluptatum!
<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sit quis laborum minus repellat quod quo beatae, laboriosam quae ducimus, alias dolor repellendus eveniet libero consectetur, tenetur ipsam tempore nostrum?
<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quo doloremque, nihil unde sapiente at amet, dolorem inventore quaerat repudiandae deleniti. Nam voluptates fugiat quae quam sunt praesentium nihil voluptatum!
<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sit quis laborum minus repellat quod quo beatae, laboriosam quae ducimus, alias dolor repellendus eveniet libero consectetur, tenetur ipsam tempore nostrum?
<br>
<br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sit quis laborum minus repellat quod quo beatae, laboriosam quae ducimus, alias dolor repellendus eveniet libero consectetur, tenetur ipsam tempore nostrum?
<br>
<br>
<h3>Scroll Down to View All of Your Posts</h3>
<h4>Don't see anything yet?  <%= link_to 'Create New Sari Gallery by clicking here', new_sari_path %></h4>
<br>
<% @user_saris.each do |sari| %>
  <img src='<%= sari.image %>' width="200" height="200">
  <%= sari.story %> <br>
  <br>
  <br>
  <% if current_user == @user %>
     <%= link_to 'Edit Gallery', edit_sari_path(sari) %>
     <%= link_to 'Delete Gallery', sari_path(sari), method: :delete, data: {confirm: "Are you sure?"} %>
     <br>
     <br>
     <br>
    <% end %>
  <% end %>

<br>
<br>
<br>
<%= link_to 'Browse Sari Galleries', saris_path(current_user) %>
<br>
<br>
<%= link_to 'Logout', session_path, method: :delete %>


